.drag-n-drop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 22px);
  display: grid;
  grid-auto-columns: 300px;
  grid-auto-flow: column;
  gap: 10px;
  align-items: start;
  overflow-y: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 10px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #535e73;
    border-radius: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #647087;
    border-radius: 5px;
  }
}

.dnd-group {
  
  padding: 10px;
  border-radius: 5px;
  background-color: #49505e;
}

.dnd-tasks-section {
  max-height: calc(100vh - 140px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #535e73;
    border-radius: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #647087;
    border-radius: 5px;
  }
}

.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border-radius: 5px;
  color: #282c34;
  background-color: #fff;
  margin-bottom: 10px;
}

.dnd-item * {
  margin: 0;
}

.group-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: calc(12px + 2vmin);
}

.current {
  background-color: #282c34;
}

