textarea {
  line-height: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
  outline: none;
  resize: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // cursor: pointer;

  &:focus {
    border: 2px solid #27922c;
    // cursor: text;
  }
}