.task {
  &__controls {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    &--group {
      margin-top: 5px;
    }
  }

  &__submit {
    background-color: #27922c;
    border: none;
    box-shadow: none;
    color: #fff;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    white-space: normal;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #238028;
    }

    &:active {
      background-color: #1e7022;
    }
  }

  &__close {
    margin-left: 10px;
    svg {
      width: 22px;
      height: 22px;
      fill: rgb(197, 197, 197);
      transition: fill 0.2s ease;

      &:hover {
        fill: rgb(177, 177, 177);
      }

      &:active {
        fill: rgb(177, 177, 177);
      }
    }
  }
}