.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: absolute;
  width: 200px;
  top: 40px;
  left: 0;
  z-index: 100;
  background-color: #586071;
  box-shadow: 0px 0px 6px #454545;
  border-radius: 5px;

  &__wrapper {
    width: 100%;
    margin: 16px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__name {
    margin: 0px 10px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  &__options {
    margin-top: 8px;
    padding: 0px 10px;
  }

  &__option {
    width: 100%;
    margin: 0px -10px;
    padding: 10px;
    font-size: 16px;
    line-height: 100%;
    background-color: transparent;
    text-align: start;

    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &:hover {
      background-color: #4d5464;
    }

    &:active {
      background-color: #3e4350;
    }
  }

  &__close-button {
    position: absolute;
    top: 10px;
    height: 28px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    
    outline: none;
    text-align: top;
    transition: background-color 0.2s ease;
    
    cursor: pointer;

    &--right {
      right: 10px;
      width: 28px;
    }

    &--left {
      left: 10px;
      width: 26px;
    }

    svg {
      fill: #fff;
    }

    &:hover {
      background-color: #4d5464;
    }

    &:active {
      background-color: #3e4350;
    }
  }
}

.position {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;

  &__item {
    width: 100%;
    margin-top: 8px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 5px;
    background-color: #4d5464;
    box-sizing: border-box;
    
    &:not(:first-child),
    &:not(:first-child) > .position__name,
    &:not(:first-child) > .position__input {
      cursor: pointer;
    } 
    &:not(:first-child) > .position__input:focus {
      cursor: text;
    }   
  }

  &__name {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 100%;
  }
  
  &__input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 100%;
    border: 2px solid transparent;
    outline: none;
    box-sizing: border-box;
    

    &:disabled {
      color: #000;
      background-color: #fff;
    }

    &::placeholder {
      font-size: 14px;
    }

    &:focus {
      border: 2px solid #27922c;
    }
  }
}